# macOS
.DS_Store

# IDEs
.vscode/
.idea/
.obsidian

# PHP
vendor/
composer.lock
package.xml

# Environment files
.env
.env.*
src/config/config.php

# Logs / temp
*.log
tmp/
cache/

# Uploads
uploads/
